@using HRProContracts.ViewModels
@using HRProDataModels.Enums
@using Newtonsoft.Json
@model DocumentViewModel

@{
    var title = "Документ";
}

<div class="container">
    <h1>@title</h1>
    <form method="post" class="row g-3 needs-validation" novalidate>
        <input type="hidden" name="id" value="@Model?.Id" />
        <input type="hidden" name="CompanyId" value="@Model?.CompanyId" />

        <div class="col-md-6">
            <label for="Name" class="form-label">Название документа <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model?.Name" required placeholder="Введите название документа">
            <div class="invalid-feedback">Пожалуйста, введите название документа.</div>
        </div>

        <div class="col-md-6">
            <label asp-for="Status" class="form-label">Статус документа</label>
            <select asp-for="Status" class="form-control" asp-items="@GetStatusSelectList()"></select>
        </div>

        <div class="col-md-6">
            <label asp-for="TemplateId" class="form-label">Шаблон</label>
            <select asp-for="TemplateId" class="form-control" asp-items="@(new SelectList(@ViewBag.Templates,"Id", "Name"))"></select>
        </div>

        <div class="col-md-12">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="description" name="description" rows="4" placeholder="Введите описание документа">@Model?.TemplateName</textarea>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button class="btn btn-secondary" onclick="window.history.back();">Назад</button>
        </div>
    </form>
</div>

@functions {
    public SelectList GetStatusSelectList()
    {
        return new SelectList(Enum.GetValues(typeof(DocumentStatusEnum)).Cast<DocumentStatusEnum>());
    }
}
