@{
    ViewData["Title"] = "Вход";
    Layout = "_LoginLayout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded">
                <div class="card-header text-center rounded-top">
                    <h3 class="mb-0"><strong>Вход в приложение</strong></h3>
                </div>
                <div class="card-body p-4">
                    <form method="post">
                        <div class="form-group mb-3">
                            <label for="login" class="form-label">Логин:</label>
                            <input type="text" class="form-control" id="login" name="login" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary w-100 py-2">Войти</button>
                        </div>
                        <div class="form-group text-center mt-3">
                            <a asp-area="" asp-controller="Home" asp-action="Register" class="text-muted text-decoration-none">Ещё не зарегистрированы? Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        font-family: Play;
        background-color: #f0f4f7;
    }

    .card {
        border-radius: 10px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 40px;
        padding-bottom: 40px;

    }

    .card-header {
        background-color: inherit;
        color: inherit; 
        border-bottom: none; 
    }

    .form-control {
        border-radius: 10px;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    .form-control:focus {
        border-color: #0A1128;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .btn {
        background-color: #3E12E3;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 12px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .btn:hover {
        background-color: #2200A4;
        transform: scale(1.05);
    }

    .text-muted {
        font-size: 14px;
    }

    .text-muted:hover {
        text-decoration: underline;
    }
</style>
