@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в HRPro</h1>
    <p>Здесь вы можете:</p>

    <div class="d-flex justify-content-center mt-4">
    <div class="box">
            <i class="bi bi-building" style="font-size: 2rem; color: #2200A4;"></i>
        <h3 class="mt-3">Создать профиль компании</h3>
    </div>
    <div class="box">
            <i class="bi bi-search" style="font-size: 2rem; color: #2200A4;"></i>
        <h3 class="mt-3">Подобрать кандидатов на вакансию</h3>
    </div>
    <div class="box">
            <i class="bi bi-briefcase" style="font-size: 2rem; color: #2200A4;"></i>
        <h3 class="mt-3">Создать документы по шаблонам</h3>
    </div>
    <div class="box">
            <i class="bi bi-people" style="font-size: 2rem; color: #2200A4;"></i>
        <h3 class="mt-3">Просмотреть базу резюме</h3>
    </div>
</div>

<style>
    .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px; 
    }

    .box i {
        margin-bottom: 10px;
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        width: 45%; 
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        background-color: #FFFFFF;
    }

    .box:hover {
        transform: scale(1.05);
    }
</style>
