@using HRProContracts.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "Профиль пользователя";
    var userRole = APIClient.User?.Role == HRProDataModels.Enums.RoleEnum.Администратор ? true : false;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 rounded">
                <div class="text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/18/18601.png"
                         class="card-img-top img-fluid rounded-circle mx-auto d-block"
                         style="max-width: 150px; max-height: 150px;" alt="Аватар пользователя">
                </div>
                <div class="card-body text-center">
                    <h3 class="card-title mb-2">
                        @(string.IsNullOrEmpty(@Model?.Surname) ? "" : @Model?.Surname)
                        @Model?.Name
                        @(string.IsNullOrEmpty(@Model?.LastName) ? "" : @Model?.LastName)
                    </h3>
                    <dl class="row mt-3">
                        <dt class="col-sm-4 text-muted">Email:</dt>
                        <dd class="col-sm-8">@Model?.Email</dd>
                        @if (!string.IsNullOrEmpty(@Model?.PhoneNumber))
                        {
                            <dt class="col-sm-4 text-muted">Телефон:</dt>
                            <dd class="col-sm-8">@Model?.PhoneNumber</dd>
                        }
                        <dt class="col-sm-4 text-muted">Дата рождения:</dt>
                        <dd class="col-sm-8">@Model?.DateOfBirth?.ToString("dd.MM.yyyy")</dd>
                    </dl>

                    <div class="btn-group mt-4" role="group" aria-label="Действия">
                        <a asp-action="UserProfileEdit" asp-controller="User" asp-route-id="@Model?.Id" asp-route-redirectUrl="@(Context.Request.Path + Context.Request.QueryString)"
                           class="btn btn-outline-primary px-4 py-2 me-2">
                            <i class="bi bi-pencil me-2"></i>Редактировать профиль
                        </a>
                        @if (APIClient.User.Role != HRProDataModels.Enums.RoleEnum.Администратор)
                        {
                            <form asp-action="Delete" asp-controller="User" method="post"
                              onsubmit="return confirm('Вы уверены, что хотите удалить профиль?');" class="d-inline me-2">
                            <input type="hidden" name="id" value="@Model?.Id" />
                            <button type="submit" class="btn btn-outline-danger px-4 py-2">
                                <i class="bi bi-trash me-2"></i>Удалить профиль
                            </button>
                        </form>
                        }                        
                        <a asp-action="Logout" asp-controller="User" class="btn btn-outline-secondary px-4 py-2">
                            <i class="bi bi-box-arrow-right me-2"></i>Выйти
                        </a>
                    </div>
                    <br></br>
                    <a asp-action="Meetings" asp-controller="Meeting" asp-route-id="@Model?.Id"
                       class="btn btn-outline-primary px-4 py-2 me-2">
                        <i class="bi bi-pencil me-2"></i>Мои встречи
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1, h2 {
        color: #333;
    }

    .table {
        margin-top: 20px;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .btn {
        background-color: #3E12E3;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 12px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .btn:hover {
            background-color: #2200A4;
            transform: scale(1.05);
        }

    .input-group {
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn-group .btn {
        border-radius: 15px; /* скругление кнопок внутри группы */
    }

    .btn-group button, .btn-group a {
        border-radius: 15px; /* добавлено для кнопок внутри .btn-group */
    }
</style>

@section Scripts {
    <script>
        document.querySelectorAll('form[onsubmit]').forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!confirm('Вы уверены, что хотите удалить?')) {
                    event.preventDefault();
                }
            });
        });
    </script>
}
